<header>
    <nav>
        <a href="/">Course Builder</a>
        <ul>
            <li><a href="/authors">Student Login</a></li>
            <li><a href="/authors/new">Teacher Login</a></li>
        </ul>
    </nav>
</header>