<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../public/style.css">
    <link rel="icon" type="image/png" href="https://maristcollege.ibcdn.nz/img/marist_logo.png">
    <title>Digi Tech Course Builder</title>
</head>
<body>
    <%- include('../partials/header.ejs') %> 
    <%- body %> 
    <br>
    <h1><b><%- include('../partials/successMessage.ejs') %></b></h1>
    <h1 style="color: red"><b><%- include('../partials/errorMessage.ejs') %></b></h1>
    <h2>&copy;Alexandria Meyer 2020</h2>
</body>
</html>