<br>
    <label><b>Add a Standard</b></label>
<br>
    <label>As Number</label>
    <input type="number" name="name" required>
<br>
    <label>Description</label>
    <textarea name="description" required></textarea>
<br>
    <label>Number of Credits</label>
    <input type="number" name="credits" required>
<br>
    <label>Number of Weeks</label>
    <input type="number" name="weeks" required>
<br>