<br>
<label><b>Register New Students</b></label>
<br>
<label>Name</label>
<input type="text" name="username" required>
<br>
<label>Email</label>
<input type="email" name="email" required>
<br>
<label>Password</label>
<input type="password" name="password" required>