<label>Register New Students</label>
<br>
<label>Name</label>
<input type="text" name="username" required>
<br>
<label>Password</label>
<input type="password" name="password" required>
<br>
<label>Email</label>
<input type="email" name="email" required>