Teacher Login

<form action="/teachers/login" method="POST">
    <label>Name</label>
    <input type="text" name="username" required>
    <br>
    <label>Email</label>
    <input type="email" name="email" required>
    <br>
    <label>Password</label>
    <input type="password" name="password" required>
    <a href="/">Cancel</a>
    <button type="submit">Login</button>
</form>